DISCORD_BOT_TOKEN=
SCRAPE_INTERVAL_NORMAL_MS=3000
SCRAPE_INTERVAL_NEAR_MS=800
SCRAPE_INTERVAL_CRITICAL_MS=200
IDLE_SLEEP_MS=60000
MAX_NULL_STREAK=5
TIMEZONE=Asia/Singapore
CIMB_RATE_URL=https://www.cimbclicks.com.sg/sgd-to-myr
PLAYWRIGHT_USER_DATA_DIR=.playwright
CONFIG_DIR=config