DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
SCRAPE_INTERVAL_MS=3000
IDLE_SLEEP_MS=60000
MAX_NULL_STREAK=5
PAGE_RELOAD_INTERVAL_MS=300000
TIMEZONE=Asia/Singapore
CIMB_RATE_URL=https://www.cimbclicks.com.sg/sgd-to-myr
PLAYWRIGHT_USER_DATA_DIR=.playwright
CONFIG_DIR=config
